.card {
  padding:10;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
}

.cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.iconWrapper {
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(34, 197, 94, 0.1); /* default green tint */
  display: flex;
  align-items: center;
  justify-content: center;
}

.statTitle {
  font-size: 14px;
  color: #6b7280; /* Tailwind's gray-500 */
}

.statValue {
  font-size: 22px;
  font-weight: bold;
  color: #111827; /* Tailwind's gray-900 */
}

.statGrowth {
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}
